---
Language:        Cpp
BasedOnStyle:  Google
ColumnLimit :  85
AlignTrailingComments : true
AllowShortBlocksOnASingleLine : false
AllowShortCaseLabelsOnASingleLine : false
AllowShortFunctionsOnASingleLine : Empty
AlignOperands: true
...
